.main {
  min-height: 100vh;
  background-color: rgb(var(--black));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.textSplit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: 75px auto 50px;
}

@media (min-width: 768px) {
  .textSplit {
    flex-direction: row;
    text-align: left;
    justify-content: center;
    margin: 100px auto 75px;
  }
}

.headline {
  font-size: 2.25rem;
  font-weight: 800;
  color: white;
  line-height: 1.2;
  max-width: 22rem;
}

.subtext {
  font-size: 1rem;
  color: rgb(212, 212, 212);
  max-width: 24rem;
  line-height: 1.6;
}

.divider {
  background-color: rgb(255, 255, 240);
  width: 30%;
  height: 2px;
}

@media (min-width: 768px) {
  .divider {
    width: 2px;
    height: 4rem;
    margin: 0 2rem;
  }
}

.gradientText {
  background: linear-gradient(90deg, rgb(0, 91, 255), rgb(0, 91, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grid {
  display: grid;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: rgb(var(--white));
  color: rgb(var(--black));
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  transition: transform 0.3s ease;
  padding: 10px;
  max-width: 350px;
}

.card:hover {
  transform: scale(1.02);
}

.cardImage {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.cardContent {
  padding: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardExcerpt {
  font-size: 0.875rem;
  color: rgb(55, 65, 81); /* gray-700 */
}

.cardDate {
  margin-top: 1rem;
  font-size: 0.75rem;
  color: rgb(107, 114, 128); /* gray-500 */
}


.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.pageLink {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(var(--pale-white));
  border-radius: 4px;
  text-decoration: none;
  color: rgb(var(--pale-white));
  transition: all 0.2s ease;
}


@media (min-width: 768px) {
.pageLink:hover {
  background-color: rgb(var(--pale-white));
}
}

.activePage {
  font-weight: bold;
  background-color: rgb(var(--primary));
  color: rgb(var(--white));
  border-color: rgb(var(--primary));
}
