.overlay {
  position: fixed;
  inset: 0; 
  z-index: 999999; 
  background-color: rgb(var(--black)); 
  color: rgb(var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 91, 255, 0.2);
  border-top: 5px solid rgb(var(--primary));
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.loadingText {
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
