.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 800px;
  width: 90%;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(6, 6, 6);
}

.modalTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.video {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
