.header{
    @apply bg-transparent fixed top-0 left-0 w-full z-50 md:top-0 shadow-lg transition-all duration-300;
}

.headerContainer{
    @apply flex justify-between items-center !px-3 md:!px-10 !py-3;
}

.nav{
    @apply hidden md:flex items-center space-x-6 h-full;
}

.navLinks{
    @apply  block h-full rounded-md text-foreground hover:text-primary hover:scale-50 font-semibold transition-colors duration-300;

    display: flex; 
    align-items: center; 
    padding: 1rem 1rem; 
    position: relative;
}

.logo {
    max-width: 200px;
    height: auto;
}

.logoPlaceholder {
  @apply w-[150px] md:w-[250px] h-[100px] bg-transparent; 
}

.mobileMenu {
    @apply absolute top-1 left-0 w-full h-0 bg-background overflow-hidden transition-all duration-300 ease-in-out;
    margin-top: 100px; 
    z-index: 40;
}
  
  .mobileMenuOpen {
    @apply h-auto py-20;
    min-height: 100vh;
}
  
  .mobileNavLink {
    @apply block text-white text-xl py-3 px-4 hover:bg-primary hover:bg-opacity-20 rounded-lg transition-colors;
}
  
  /* Backdrop for mobile menu */
  .mobileMenu::before {
    content: '';
    @apply absolute inset-0 bg-black bg-opacity-70 -z-10;
}


@media screen and (max-width: 1080px) {
    .logo {
      max-width: 180px;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .logo {
      max-width: 150px;
    }
  }